// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #vote-arrow-up {
	text-decoration: none;
	color: #5cb85c;
	margin-right:5px;
}

#vote-arrow-down {
	text-decoration: none;
	color: #d9534f;
	margin-right:5px;
}